<p id="notice"><%= notice %></p>

<h1>Expansions</h1>

<h2>UF de hoy: <%= @uf %></h2>

  <% @expansions.each do |exp| %>
    <img class="image" src="<%=  exp.link %>" alt="">
  <% end %>

<br>

<%= link_to 'New Expansion', new_expansion_path %>
